<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164082280340-oe723quju7j5tol1jviidoida4fiavj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164082280340-oe723quju7j5tol1jviidoida4fiavj8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>164082280340-45daa9bjf67c5hkcemra4pcbcothru11.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzSw9HWhwjrftCXFZ8MmOBcYM2idrjf6M</string>
	<key>GCM_SENDER_ID</key>
	<string>164082280340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ava</string>
	<key>PROJECT_ID</key>
	<string>sundayschool-18ece</string>
	<key>STORAGE_BUCKET</key>
	<string>sundayschool-18ece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164082280340:ios:b71130f9dc216624ad5181</string>
	<key>DATABASE_URL</key>
	<string>https://sundayschool-18ece-default-rtdb.firebaseio.com</string>
</dict>
</plist>